

:root{
    --branco: rgba(130, 68, 230, 0.774);
    --cor-de-fundo: #ab85ddb0;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}